---
import "../../public/css/w3css.css";
import "../../public/css/index.css";
import "../../public/fonts/fontawesome/css/index.css";
import "../libraries/arrays";
import Navbar from "../components/navbar.astro";
import FullCertifications from "../components/full-certifications.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Danny Vaca</title>
  </head>
  <body>
    <Navbar />

    <FullCertifications parallaxHeight="50vh" />
  </body>
</html>
